body {
  background: var(--bg-grey-color);
}
.login-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.login-form {
  width: 28rem;
  box-shadow: var(--big-box-shadow);
  background: var(--white-color);
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}
.btn {
  border-radius: 12px;
}
.auth-btn {
  padding: 0;
  display: block;
  width: 65%;
  font-size: 1.2rem;
  background: var(--dark-purple);
  margin-top: 0.2rem;
}
.login_instead_link {
  display: inline-block;
  width: 14rem;
  text-align: center;
}
