@media screen and (max-width: 900px) {
  :root {
    font-size: 80%;
  }
  .ecomm-sidebar {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header .search-bar {
    position: fixed;
    width: 90%;
    top: 45px;
  }
  .header {
    padding-bottom: 3rem !important;
  }
}
