/* card */
.card {
  background: var(--white-color);
  box-shadow: var(--big-box-shadow);
  height: 21rem;
  width: 15rem;
  border-radius: 20px;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-flow: column;
  cursor: pointer;
}

.product-card {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 20px;
  background: var(--orange-color);
  display: flex;
}

.card-image {
  width: 11rem;
  transform: rotate(-20deg);
  margin-right: 1rem;
}

.card-details {
  align-self: flex-start;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.card-details h4 {
  display: inline-block;
}

.card-details h4:nth-child(2) {
  margin-left: 2rem;
}

.card .badge {
  background: var(--white-color);
  width: 2rem;
  height: 2rem;
  left: 0.5rem;
  top: 0.5rem;
}

.card .badge:hover {
  cursor: pointer;
}

.addToCart-btn {
  background: #2e2e2e;
  width: 12rem;
  margin-top: 0.4rem;
}

.wishlist-heart {
  z-index: 1;
  color: #f16765;
  font-size: 1rem;
}
