:root {
  /* colors */

  --yellow-color: #fcffa6;
  --blue-color: #b5deff;
  --pink-color: #ffaaa7;
  --orange-color: #fda27b;
  --green-color: #d5ecc2;
  --bg-grey-color: #f5f5f5;
  --red-color: #f16765;
  --dark-purple: #8e69cb;
  --lavender-color: lavender;

  /* box shadow */
  --big-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  /* border radius */
  --border-radius-full: 50%;
}
